doctype html
html(lang="en")
  head
  
    link(rel="stylesheet" type="text/css" href="css/style.css")
    link(rel="stylesheet" type="text/css" href="css/normal.css")
    script(src="js/script.js")
    title Le Restaurante
  body
   header.header
    .header__top
        img.header__logo(src="image/logo.png")
        nav.header__nav
            ul.header__list
                li
                    a.header__link(href="#") PRICE LIST
                li
                    a.header__link(href="#") OPENING HOURS
                li
                    a.header__link(href="#") ABOUT US
                li
                    a.header__link(href="#") CONTACTS
    .header__menu
        .header__side
            p.header__title FOR MEAT LOVERS
            button.header__button FULL MENU
        .header__center
            p.header__title VEGETFRIAN & VEGAN
            button.header__button FULL MENU
        .header__side
            p.header__title SEE OUR SECRETS
            button.header__button TAKE ME THERE
        